<?xml version="1.0"?>
<DocumentTypeLib>
  <DataTypes>
    <DataTypeItem Id="-2" ControlTypeName="umbraco.editorControls.textfield.TextFieldDataType" Type="string" ModelType="string" />
    <DataTypeItem Id="-3" ControlTypeName="umbraco.editorControls.textfield.TextFieldDataType" Type="string" ModelType="int" />
    <DataTypeItem Id="-4" ControlTypeName="umbraco.editorControls.textfield.TextFieldDataType" Type="string" ModelType="bool" />
    <DataTypeItem Id="-5" ControlTypeName="umbraco.editorControls.textfield.TextFieldDataType" Type="string" ModelType="double" />
    <DataTypeItem Id="-6" ControlTypeName="umbraco.editorControls.textfield.TextFieldDataType" Type="string" ModelType="DateTime" />
    <DataTypeItem Id="-37" ControlTypeName="umbraco.editorControls.colorpicker.ColorPickerDataType" Type="string" ModelType="string" DataTypeName="Approved Color" />
    <DataTypeItem Id="-43" ControlTypeName="umbraco.editorControls.checkboxlist.checkboxListDataType" Type="List&lt;enum&gt;" ModelType="CheckboxList" DataTypeName="Checkbox list" />
    <DataTypeItem Id="1385" ControlTypeName="umbraco.editorControls.checkboxlist.checkboxListDataType" Type="List&lt;enum&gt;" ModelType="CheckboxListCinemaFeatures" DataTypeName="CheckboxListCinemaFeatures">
      <PreValueItems>
        <PreValueItem Id="123" SortOrder="0">
          <Value>IMAX</Value>
        </PreValueItem>
        <PreValueItem Id="133" SortOrder="1">
          <Value>3D</Value>
        </PreValueItem>
        <PreValueItem Id="126" SortOrder="2">
          <Value>Dolby A</Value>
        </PreValueItem>
      </PreValueItems>
    </DataTypeItem>
    <DataTypeItem Id="1034" ControlTypeName="umbraco.editorControls.pagepicker.PagePickerDataType" Type="int" ModelType="int" DataTypeName="Content Picker" />
    <DataTypeItem Id="-36" ControlTypeName="umbraco.editorControls.datefieldmultiple.DataTypeDatefieldMultiple" Type="DateTime" ModelType="DateTime" DataTypeName="Date Picker with time" />
    <DataTypeItem Id="-41" ControlTypeName="umbraco.editorControls.datepicker.DateDataType" Type="DateTime" ModelType="DateTime" DataTypeName="Date Picker" />
    <DataTypeItem Id="-39" ControlTypeName="umbraco.editorControls.listbox.ListBoxDataType" Type="List&lt;enum&gt;" ModelType="DropdownMultiple" DataTypeName="Dropdown multiple" />
    <DataTypeItem Id="-42" ControlTypeName="umbraco.editorControls.dropdownlist.DropdownListDataType" Type="enum" ModelType="Dropdown" DataTypeName="Dropdown" />
    <DataTypeItem Id="1379" ControlTypeName="umbraco.editorControls.dropdownlist.DropdownListDataType" Type="enum" ModelType="DropDownColors" DataTypeName="DropDownColors">
      <PreValueItems>
        <PreValueItem Id="40" SortOrder="1">
          <Value>Red</Value>
        </PreValueItem>
        <PreValueItem Id="41" SortOrder="2">
          <Value>Green</Value>
        </PreValueItem>
        <PreValueItem Id="42" SortOrder="3">
          <Value>Blue</Value>
        </PreValueItem>
        <PreValueItem Id="43" SortOrder="4">
          <Value>Magenta</Value>
        </PreValueItem>
        <PreValueItem Id="44" SortOrder="5">
          <Value>Cyan</Value>
        </PreValueItem>
        <PreValueItem Id="45" SortOrder="6">
          <Value>Yellow</Value>
        </PreValueItem>
        <PreValueItem Id="46" SortOrder="7">
          <Value>Black</Value>
        </PreValueItem>
        <PreValueItem Id="47" SortOrder="8">
          <Value>White</Value>
        </PreValueItem>
      </PreValueItems>
    </DataTypeItem>
    <DataTypeItem Id="1387" ControlTypeName="umbraco.editorControls.dropdownlist.DropdownListKeysDataType" Type="enum" ModelType="DropDownListPkColors" DataTypeName="DropDownListPkColors">
      <PreValueItems>
        <PreValueItem Id="134" SortOrder="1">
          <Value>Red</Value>
        </PreValueItem>
        <PreValueItem Id="135" SortOrder="2">
          <Value>Green</Value>
        </PreValueItem>
        <PreValueItem Id="136" SortOrder="3">
          <Value>Blue</Value>
        </PreValueItem>
        <PreValueItem Id="137" SortOrder="4">
          <Value>Magenta</Value>
        </PreValueItem>
        <PreValueItem Id="138" SortOrder="5">
          <Value>Cyan</Value>
        </PreValueItem>
        <PreValueItem Id="139" SortOrder="6">
          <Value>Yellow</Value>
        </PreValueItem>
        <PreValueItem Id="140" SortOrder="7">
          <Value>Black</Value>
        </PreValueItem>
        <PreValueItem Id="141" SortOrder="8">
          <Value>White</Value>
        </PreValueItem>
      </PreValueItems>
    </DataTypeItem>
    <DataTypeItem Id="1380" ControlTypeName="umbraco.editorControls.listbox.ListBoxDataType" Type="List&lt;enum&gt;" ModelType="DropDownMultipleFruit" DataTypeName="DropDownMultipleFruit">
      <PreValueItems>
        <PreValueItem Id="48" SortOrder="1">
          <Value>Orange</Value>
        </PreValueItem>
        <PreValueItem Id="49" SortOrder="2">
          <Value>Apple</Value>
        </PreValueItem>
        <PreValueItem Id="50" SortOrder="3">
          <Value>Banana</Value>
        </PreValueItem>
        <PreValueItem Id="51" SortOrder="4">
          <Value>Pear</Value>
        </PreValueItem>
        <PreValueItem Id="52" SortOrder="5">
          <Value>strawberry</Value>
        </PreValueItem>
      </PreValueItems>
    </DataTypeItem>
    <DataTypeItem Id="-38" ControlTypeName="umbraco.editorControls.folderbrowser.DataTypeFolderBrowser" Type="string" ModelType="string" DataTypeName="Folder Browser" />
    <DataTypeItem Id="1064" ControlTypeName="umbraco.editorControls.XPathDropDownList.XPathDropDownListDataType" Type="int" ModelType="int" DataTypeName="GenreDropDown">
      <PreValueItems>
        <PreValueItem Id="6" SortOrder="0">
          <Value>{"Type":"c66ba18e-eaf3-4cff-8a22-41b16d66a972","XPath":"//Genres/Genre","UseId":true,"UmbracoObjectType":3}</Value>
        </PreValueItem>
      </PreValueItems>
    </DataTypeItem>
    <DataTypeItem Id="1043" ControlTypeName="umbraco.editorControls.imagecropper.DataType" Type="string" ModelType="string" DataTypeName="Image Cropper" />
    <DataTypeItem Id="-92" ControlTypeName="umbraco.editorControls.label.DataTypeNoEdit" Type="string" ModelType="string" DataTypeName="Label" />
    <DataTypeItem Id="1065" ControlTypeName="umbraco.editorControls.dropdownlist.DropdownListDataType" Type="enum" ModelType="Languages" DataTypeName="Languages">
      <PreValueItems>
        <PreValueItem Id="7" SortOrder="1">
          <Value>Dutch</Value>
        </PreValueItem>
        <PreValueItem Id="8" SortOrder="2">
          <Value>English</Value>
        </PreValueItem>
        <PreValueItem Id="9" SortOrder="3">
          <Value>French</Value>
        </PreValueItem>
        <PreValueItem Id="10" SortOrder="4">
          <Value>German</Value>
        </PreValueItem>
        <PreValueItem Id="39" SortOrder="5">
          <Value>Turkish</Value>
        </PreValueItem>
      </PreValueItems>
    </DataTypeItem>
    <DataTypeItem Id="1042" ControlTypeName="umbraco.editorControls.macrocontainer.DataType" Type="string" ModelType="string" DataTypeName="Macro Container" />
    <DataTypeItem Id="1035" ControlTypeName="umbraco.editorControls.mediapicker.MemberPickerDataType" Type="MediaInfo" ModelType="MediaInfo" DataTypeName="Media Picker" />
    <DataTypeItem Id="1036" ControlTypeName="umbraco.editorControls.memberpicker.MemberPickerDataType" Type="string" ModelType="string" DataTypeName="Member Picker" />
    <DataTypeItem Id="1066" ControlTypeName="uComponents.DataTypes.UrlPicker.UrlPickerDataType" Type="UrlPicker" ModelType="Hyperlink" DataTypeName="MenuItemPicker">
      <PreValueItems>
        <PreValueItem Id="11" SortOrder="0">
          <Value>URL|Content</Value>
        </PreValueItem>
        <PreValueItem Id="12" SortOrder="0">
          <Value>Xml</Value>
        </PreValueItem>
        <PreValueItem Id="13" SortOrder="0">
          <Value>False</Value>
        </PreValueItem>
        <PreValueItem Id="14" SortOrder="0">
          <Value>False</Value>
        </PreValueItem>
        <PreValueItem Id="15" SortOrder="0">
          <Value>Content</Value>
        </PreValueItem>
      </PreValueItems>
    </DataTypeItem>
    <DataTypeItem Id="1420" ControlTypeName="uComponents.DataTypes.DataTypeGrid.DataType" Type="DataGrid" ModelType="MovieDataGrid" DataTypeName="Movie Data Grid">
      <PreValueItems>
        <PreValueItem Id="199" SortOrder="0">
          <Value>{"ShowLabel":false,"ShowGridHeader":true,"ShowGridFooter":true,"TableHeight":300,"Mandatory":false}</Value>
        </PreValueItem>
        <PreValueItem Id="200" SortOrder="1">
          <Value>{"Name":"Text field","Alias":"textField","Mandatory":false,"ValidationExpression":"","DataTypeId":-88}</Value>
        </PreValueItem>
        <PreValueItem Id="205" SortOrder="2">
          <Value>{"Name":"Checkbox field","Alias":"checkboxField","Mandatory":false,"ValidationExpression":"","DataTypeId":-49}</Value>
        </PreValueItem>
        <PreValueItem Id="201" SortOrder="3">
          <Value>{"Name":"Integer field","Alias":"int_integerField","Mandatory":false,"ValidationExpression":"","DataTypeId":-88}</Value>
        </PreValueItem>
        <PreValueItem Id="202" SortOrder="4">
          <Value>{"Name":"Color field","Alias":"colorField","Mandatory":false,"ValidationExpression":"","DataTypeId":1379}</Value>
        </PreValueItem>
        <PreValueItem Id="203" SortOrder="5">
          <Value>{"Name":"DateTimePicker field","Alias":"dateTimePickerField","Mandatory":false,"ValidationExpression":"","DataTypeId":-36}</Value>
        </PreValueItem>
        <PreValueItem Id="204" SortOrder="6">
          <Value>{"Name":"DateTimeValueField","Alias":"dateTimeValueField_datetime","Mandatory":false,"ValidationExpression":"","DataTypeId":-88}</Value>
        </PreValueItem>
      </PreValueItems>
    </DataTypeItem>
    <DataTypeItem Id="1067" ControlTypeName="uComponents.DataTypes.UrlPicker.UrlPickerDataType" Type="UrlPicker" ModelType="Hyperlink" DataTypeName="MovieLink">
      <PreValueItems>
        <PreValueItem Id="16" SortOrder="0">
          <Value>Content</Value>
        </PreValueItem>
        <PreValueItem Id="17" SortOrder="0">
          <Value>Xml</Value>
        </PreValueItem>
        <PreValueItem Id="18" SortOrder="0">
          <Value>False</Value>
        </PreValueItem>
        <PreValueItem Id="19" SortOrder="0">
          <Value>False</Value>
        </PreValueItem>
        <PreValueItem Id="20" SortOrder="0">
          <Value>Content</Value>
        </PreValueItem>
      </PreValueItems>
    </DataTypeItem>
    <DataTypeItem Id="1068" ControlTypeName="umbraco.editorControls.MultiNodeTreePicker.MNTP_DataType" Type="MultiNodePicker" ModelType="List&lt;int&gt;" DataTypeName="MoviePicker">
      <PreValueItems>
        <PreValueItem Id="21" SortOrder="0">
          <Value>content</Value>
        </PreValueItem>
        <PreValueItem Id="22" SortOrder="0">
          <Value>/*[name()='Movie']</Value>
        </PreValueItem>
        <PreValueItem Id="23" SortOrder="0">
          <Value>3</Value>
        </PreValueItem>
        <PreValueItem Id="24" SortOrder="0">
          <Value>False</Value>
        </PreValueItem>
        <PreValueItem Id="25" SortOrder="0">
          <Value>0</Value>
        </PreValueItem>
        <PreValueItem Id="26" SortOrder="0">
          <Value>1</Value>
        </PreValueItem>
        <PreValueItem Id="27" SortOrder="0">
          <Value>0</Value>
        </PreValueItem>
        <PreValueItem Id="28" SortOrder="0">
          <Value>False</Value>
        </PreValueItem>
        <PreValueItem Id="29" SortOrder="0">
          <Value>1</Value>
        </PreValueItem>
        <PreValueItem Id="30" SortOrder="0">
          <Value>0</Value>
        </PreValueItem>
        <PreValueItem Id="31" SortOrder="0">
          <Value>//HomePage/Movies</Value>
        </PreValueItem>
        <PreValueItem Id="32" SortOrder="0">
          <Value>200</Value>
        </PreValueItem>
        <PreValueItem Id="33" SortOrder="0">
          <Value>0</Value>
        </PreValueItem>
      </PreValueItems>
    </DataTypeItem>
    <DataTypeItem Id="1383" ControlTypeName="uComponents.DataTypes.MultiUrlPicker.MultiUrlPickerDataType" Type="MultiUrlPicker" ModelType="List&lt;Hyperlink&gt;" DataTypeName="Multi Url Picker">
      <PreValueItems>
        <PreValueItem Id="59" SortOrder="0">
          <Value>URL|Content</Value>
        </PreValueItem>
        <PreValueItem Id="60" SortOrder="0">
          <Value>Xml</Value>
        </PreValueItem>
        <PreValueItem Id="61" SortOrder="0">
          <Value>True</Value>
        </PreValueItem>
        <PreValueItem Id="62" SortOrder="0">
          <Value>True</Value>
        </PreValueItem>
        <PreValueItem Id="63" SortOrder="0">
          <Value>Content</Value>
        </PreValueItem>
      </PreValueItems>
    </DataTypeItem>
    <DataTypeItem Id="1069" ControlTypeName="uComponents.DataTypes.MultipleDates.MD_DataType" Type="string" ModelType="List&lt;DateTime&gt;" DataTypeName="MultipleDates" />
    <DataTypeItem Id="-51" ControlTypeName="umbraco.editorControls.numberfield.IDataTypenteger" Type="int" ModelType="int" DataTypeName="Numeric" />
    <DataTypeItem Id="-40" ControlTypeName="umbraco.editorControls.radiobuttonlist.RadioButtonListDataType" Type="enum" ModelType="Radiobox" DataTypeName="Radiobox" />
    <DataTypeItem Id="1386" ControlTypeName="umbraco.editorControls.radiobuttonlist.RadioButtonListDataType" Type="enum" ModelType="RadioButtonListSizes" DataTypeName="RadioButtonListSizes">
      <PreValueItems>
        <PreValueItem Id="127" SortOrder="1">
          <Value>Small</Value>
        </PreValueItem>
        <PreValueItem Id="128" SortOrder="2">
          <Value>Large</Value>
        </PreValueItem>
        <PreValueItem Id="129" SortOrder="3">
          <Value>Extra Large</Value>
        </PreValueItem>
      </PreValueItems>
    </DataTypeItem>
    <DataTypeItem Id="1040" ControlTypeName="umbraco.editorControls.relatedlinks.RelatedLinksDataType" Type="string" ModelType="string" DataTypeName="Related Links" />
    <DataTypeItem Id="-87" ControlTypeName="umbraco.editorControls.tinyMCE3.tinyMCE3dataType" Type="string" ModelType="string" DataTypeName="Richtext editor">
      <PreValueItems>
        <PreValueItem Id="3" SortOrder="0">
          <Value>,code,undo,redo,cut,copy,mcepasteword,stylepicker,bold,italic,bullist,numlist,outdent,indent,mcelink,unlink,mceinsertanchor,mceimage,umbracomacro,mceinserttable,umbracoembed,mcecharmap,|1|1,2,3,|0|500,400|1049,|true|</Value>
        </PreValueItem>
      </PreValueItems>
    </DataTypeItem>
    <DataTypeItem Id="1038" ControlTypeName="umbraco.editorControls.simpleEditor.simpleEditorDataType" Type="string" ModelType="string" DataTypeName="Simple Editor" />
    <DataTypeItem Id="1390" ControlTypeName="uComponents.DataTypes.SqlCheckBoxList.SqlCheckBoxListDataType" Type="SqlCheckBoxList" ModelType="List&lt;string&gt;" DataTypeName="SQL Checbox list">
      <PreValueItems>
        <PreValueItem Id="144" SortOrder="0">
          <Value>{"UseXml":true,"Sql":"SELECT [value] as [Text], [id] as [Value]\r\n  FROM [cmsDataTypePreValues]\r\n  where datatypeNodeId = 1379","ConnectionStringName":""}</Value>
        </PreValueItem>
      </PreValueItems>
    </DataTypeItem>
    <DataTypeItem Id="1388" ControlTypeName="uComponents.DataTypes.SqlDropDownList.SqlDropDownListDataType" Type="string" ModelType="string" DataTypeName="SQL Dropdown Colors">
      <PreValueItems>
        <PreValueItem Id="142" SortOrder="0">
          <Value>{"Sql":"SELECT [value] as [Text], [id] as [Value]\r\n  FROM [cmsDataTypePreValues]\r\n  where datatypeNodeId = 1379","ConnectionStringName":""}</Value>
        </PreValueItem>
      </PreValueItems>
    </DataTypeItem>
    <DataTypeItem Id="1041" ControlTypeName="umbraco.editorControls.tags.DataType" Type="string" ModelType="string" DataTypeName="Tags">
      <PreValueItems>
        <PreValueItem Id="4" SortOrder="0">
          <Value>default</Value>
        </PreValueItem>
      </PreValueItems>
    </DataTypeItem>
    <DataTypeItem Id="-89" ControlTypeName="umbraco.editorControls.textfieldmultiple.textfieldMultipleDataType" Type="string" ModelType="string" DataTypeName="Textbox multiple" />
    <DataTypeItem Id="-88" ControlTypeName="umbraco.editorControls.textfield.TextFieldDataType" Type="string" ModelType="string" DataTypeName="Textstring" />
    <DataTypeItem Id="-49" ControlTypeName="umbraco.editorControls.yesno.YesNoDataType" Type="bool" ModelType="bool" DataTypeName="True/false" />
    <DataTypeItem Id="1039" ControlTypeName="umbraco.editorControls.ultimatepicker.ultimatePickerDataType" Type="string" ModelType="string" DataTypeName="Ultimate Picker" />
    <DataTypeItem Id="-90" ControlTypeName="umbraco.editorControls.uploadfield.DataTypeUploadField" Type="string" ModelType="string" DataTypeName="Upload" />
    <DataTypeItem Id="1382" ControlTypeName="uComponents.DataTypes.UrlPicker.UrlPickerDataType" Type="UrlPicker" ModelType="Hyperlink" DataTypeName="Url Picker all">
      <PreValueItems>
        <PreValueItem Id="54" SortOrder="0">
          <Value>URL|Content</Value>
        </PreValueItem>
        <PreValueItem Id="55" SortOrder="0">
          <Value>Xml</Value>
        </PreValueItem>
        <PreValueItem Id="56" SortOrder="0">
          <Value>True</Value>
        </PreValueItem>
        <PreValueItem Id="57" SortOrder="0">
          <Value>True</Value>
        </PreValueItem>
        <PreValueItem Id="58" SortOrder="0">
          <Value>Content</Value>
        </PreValueItem>
      </PreValueItems>
    </DataTypeItem>
    <DataTypeItem Id="1070" ControlTypeName="uComponents.DataTypes.UrlPicker.UrlPickerDataType" Type="UrlPicker" ModelType="Hyperlink" DataTypeName="UrlPicker">
      <PreValueItems>
        <PreValueItem Id="34" SortOrder="0">
          <Value>URL|Content</Value>
        </PreValueItem>
        <PreValueItem Id="35" SortOrder="0">
          <Value>Xml</Value>
        </PreValueItem>
        <PreValueItem Id="36" SortOrder="0">
          <Value>False</Value>
        </PreValueItem>
        <PreValueItem Id="37" SortOrder="0">
          <Value>False</Value>
        </PreValueItem>
        <PreValueItem Id="38" SortOrder="0">
          <Value>URL</Value>
        </PreValueItem>
      </PreValueItems>
    </DataTypeItem>
  </DataTypes>
  <DocumentTypes>
    <DocumentTypeItem Id="1054" ParentId="1044" Alias="Cinema">
      <Text>Cinema</Text>
      <Description />
      <Properties>
        <PropertyTypeItem Id="36" Alias="cinemaName" TypeId="-88">
          <Name>Name</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="37" Alias="cinemaAddressStreet" TypeId="-88">
          <Name>Address</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="38" Alias="cinemaAddressNumber" TypeId="-88">
          <Name>Number</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="39" Alias="cinemaAddressPostalCode" TypeId="-88">
          <Name>Postal code</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="40" Alias="cinemaAddressCity" TypeId="-88">
          <Name>City</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="41" Alias="cinemaContactEmail" TypeId="-88">
          <Name>Email</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="42" Alias="cinemaContactPhoneNumber" TypeId="-88">
          <Name>Phone number</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="43" Alias="cinemaContactWebsite" TypeId="1070">
          <Name>Website</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="28" Alias="seoPageTitle" TypeId="-88">
          <Name>SEO Page Title</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="29" Alias="seoPageDescription" TypeId="-88">
          <Name>SEO Page description</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="30" Alias="seoPageKeywords" TypeId="-88">
          <Name>SEO Page keywords</Name>
          <Description />
        </PropertyTypeItem>
      </Properties>
    </DocumentTypeItem>
    <DocumentTypeItem Id="1053" ParentId="1044" Alias="Cinemas">
      <Text>Cinemas</Text>
      <Description />
      <Properties>
        <PropertyTypeItem Id="44" Alias="cinemas_headerText" TypeId="-88">
          <Name>Header</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="45" Alias="cinemas_introText" TypeId="-87">
          <Name>Into text</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="28" Alias="seoPageTitle" TypeId="-88">
          <Name>SEO Page Title</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="29" Alias="seoPageDescription" TypeId="-88">
          <Name>SEO Page description</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="30" Alias="seoPageKeywords" TypeId="-88">
          <Name>SEO Page keywords</Name>
          <Description />
        </PropertyTypeItem>
      </Properties>
    </DocumentTypeItem>
    <DocumentTypeItem Id="1062" ParentId="1044" Alias="City">
      <Text>City</Text>
      <Description />
      <Properties>
        <PropertyTypeItem Id="28" Alias="seoPageTitle" TypeId="-88">
          <Name>SEO Page Title</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="29" Alias="seoPageDescription" TypeId="-88">
          <Name>SEO Page description</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="30" Alias="seoPageKeywords" TypeId="-88">
          <Name>SEO Page keywords</Name>
          <Description />
        </PropertyTypeItem>
      </Properties>
    </DocumentTypeItem>
    <DocumentTypeItem Id="1049" ParentId="0" Alias="Genre">
      <Text>Genre</Text>
      <Description />
      <Properties />
    </DocumentTypeItem>
    <DocumentTypeItem Id="1048" ParentId="0" Alias="Genres">
      <Text>Genres</Text>
      <Description />
      <Properties />
    </DocumentTypeItem>
    <DocumentTypeItem Id="1055" ParentId="1044" Alias="HomePage">
      <Text>HomePage</Text>
      <Description />
      <Properties>
        <PropertyTypeItem Id="32" Alias="homePageHeader" TypeId="-88">
          <Name>Header</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="33" Alias="homePageIntroText" TypeId="-89">
          <Name>Into text</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="34" Alias="homePageHeaderTopMovies" TypeId="-88">
          <Name>Header top movies</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="35" Alias="headerLatestNews" TypeId="-88">
          <Name>Header latest news</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="28" Alias="seoPageTitle" TypeId="-88">
          <Name>SEO Page Title</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="29" Alias="seoPageDescription" TypeId="-88">
          <Name>SEO Page description</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="30" Alias="seoPageKeywords" TypeId="-88">
          <Name>SEO Page keywords</Name>
          <Description />
        </PropertyTypeItem>
      </Properties>
    </DocumentTypeItem>
    <DocumentTypeItem Id="1046" ParentId="1045" Alias="MainNavigation">
      <Text>MainNavigation</Text>
      <Description />
      <Properties />
    </DocumentTypeItem>
    <DocumentTypeItem Id="1047" ParentId="1045" Alias="MenuItem">
      <Text>MenuItem</Text>
      <Description />
      <Properties>
        <PropertyTypeItem Id="31" Alias="menuItemHyperLink" TypeId="1066">
          <Name>Link</Name>
          <Description />
        </PropertyTypeItem>
      </Properties>
    </DocumentTypeItem>
    <DocumentTypeItem Id="1057" ParentId="1044" Alias="Movie">
      <Text>Movie</Text>
      <Description />
      <Properties>
        <PropertyTypeItem Id="46" Alias="movieTitle" TypeId="-88">
          <Name>Title</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="47" Alias="movieIntroduction" TypeId="-89">
          <Name>Introduction</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="48" Alias="movieGenre" TypeId="1064">
          <Name>Genre</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="49" Alias="movieImage" TypeId="1035">
          <Name>Image</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="50" Alias="movieRelatedMovies" TypeId="1068">
          <Name>Related movies</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="51" Alias="movieDirectedBy" TypeId="-88">
          <Name>Directed by</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="52" Alias="movieWriter" TypeId="-88">
          <Name>Writer(s)</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="53" Alias="movieCast" TypeId="-89">
          <Name>Cast</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="54" Alias="movieRunningLength_int" TypeId="-3">
          <Name>Running length</Name>
          <Description>minutes</Description>
        </PropertyTypeItem>
        <PropertyTypeItem Id="28" Alias="seoPageTitle" TypeId="-88">
          <Name>SEO Page Title</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="29" Alias="seoPageDescription" TypeId="-88">
          <Name>SEO Page description</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="30" Alias="seoPageKeywords" TypeId="-88">
          <Name>SEO Page keywords</Name>
          <Description />
        </PropertyTypeItem>
      </Properties>
    </DocumentTypeItem>
    <DocumentTypeItem Id="1050" ParentId="0" Alias="MovieProgram">
      <Text>MovieProgram</Text>
      <Description />
      <Properties>
        <PropertyTypeItem Id="57" Alias="movieProgram_name" TypeId="-88">
          <Name>Name</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="58" Alias="movieProgram_showtimes" TypeId="1069">
          <Name>Show Times</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="59" Alias="movieProgram_additional_information" TypeId="-89">
          <Name>Additional information</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="60" Alias="movieProgram_movie_link" TypeId="1067">
          <Name>Movie</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="61" Alias="movieProgram_spoken_language" TypeId="1065">
          <Name>Spoken languagge</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="62" Alias="movieProgram_subtitles" TypeId="-49">
          <Name>Subtitles</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="63" Alias="movieProgram_threeD" TypeId="-49">
          <Name>3D</Name>
          <Description />
        </PropertyTypeItem>
      </Properties>
    </DocumentTypeItem>
    <DocumentTypeItem Id="1056" ParentId="1044" Alias="Movies">
      <Text>Movies</Text>
      <Description />
      <Properties>
        <PropertyTypeItem Id="55" Alias="movies_header" TypeId="-88">
          <Name>Header</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="56" Alias="movies_intoText" TypeId="-89">
          <Name>Into text</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="28" Alias="seoPageTitle" TypeId="-88">
          <Name>SEO Page Title</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="29" Alias="seoPageDescription" TypeId="-88">
          <Name>SEO Page description</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="30" Alias="seoPageKeywords" TypeId="-88">
          <Name>SEO Page keywords</Name>
          <Description />
        </PropertyTypeItem>
      </Properties>
    </DocumentTypeItem>
    <DocumentTypeItem Id="1045" ParentId="0" Alias="Navigation">
      <Text>Navigation</Text>
      <Description />
      <Properties />
    </DocumentTypeItem>
    <DocumentTypeItem Id="1058" ParentId="1044" Alias="NewsPage">
      <Text>News</Text>
      <Description />
      <Properties>
        <PropertyTypeItem Id="64" Alias="newsPageHeader" TypeId="-88">
          <Name>Header</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="65" Alias="newsPageIntroText" TypeId="-89">
          <Name>Intro text</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="28" Alias="seoPageTitle" TypeId="-88">
          <Name>SEO Page Title</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="29" Alias="seoPageDescription" TypeId="-88">
          <Name>SEO Page description</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="30" Alias="seoPageKeywords" TypeId="-88">
          <Name>SEO Page keywords</Name>
          <Description />
        </PropertyTypeItem>
      </Properties>
    </DocumentTypeItem>
    <DocumentTypeItem Id="1059" ParentId="1044" Alias="NewsItem">
      <Text>NewsItem</Text>
      <Description />
      <Properties>
        <PropertyTypeItem Id="66" Alias="newsItemTitle" TypeId="-88">
          <Name>Title</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="67" Alias="newsItemIntroShort" TypeId="-89">
          <Name>Short Intro Text</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="68" Alias="newsItemDate" TypeId="-41">
          <Name>Publication Date</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="69" Alias="newsItemSource" TypeId="-88">
          <Name>Source</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="28" Alias="seoPageTitle" TypeId="-88">
          <Name>SEO Page Title</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="29" Alias="seoPageDescription" TypeId="-88">
          <Name>SEO Page description</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="30" Alias="seoPageKeywords" TypeId="-88">
          <Name>SEO Page keywords</Name>
          <Description />
        </PropertyTypeItem>
      </Properties>
    </DocumentTypeItem>
    <DocumentTypeItem Id="1044" ParentId="0" Alias="Page">
      <Text>Page</Text>
      <Description />
      <Properties>
        <PropertyTypeItem Id="28" Alias="seoPageTitle" TypeId="-88">
          <Name>SEO Page Title</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="29" Alias="seoPageDescription" TypeId="-88">
          <Name>SEO Page description</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="30" Alias="seoPageKeywords" TypeId="-88">
          <Name>SEO Page keywords</Name>
          <Description />
        </PropertyTypeItem>
      </Properties>
    </DocumentTypeItem>
    <DocumentTypeItem Id="1052" ParentId="0" Alias="Paragraph">
      <Text>Paragraph</Text>
      <Description />
      <Properties>
        <PropertyTypeItem Id="70" Alias="paragraphSubTitle" TypeId="-88">
          <Name>Subtitle</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="71" Alias="paragraphText" TypeId="-87">
          <Name>Text</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="72" Alias="paragraphImage" TypeId="1035">
          <Name>Image</Name>
          <Description />
        </PropertyTypeItem>
      </Properties>
    </DocumentTypeItem>
    <DocumentTypeItem Id="1051" ParentId="0" Alias="Paragraphs">
      <Text>Paragraphs</Text>
      <Description />
      <Properties />
    </DocumentTypeItem>
    <DocumentTypeItem Id="1061" ParentId="1044" Alias="TestModel">
      <Text>TestModel</Text>
      <Description />
      <Properties>
        <PropertyTypeItem Id="73" Alias="testfieldstring1" TypeId="-88">
          <Name>Test field string 1</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="74" Alias="string_testfieldstring2" TypeId="-2">
          <Name>Test field string 2</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="75" Alias="testfieldstring3_string" TypeId="-2">
          <Name>Test field string 3</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="76" Alias="int_integerWithPrefix" TypeId="-3">
          <Name>Integer with prefix</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="77" Alias="integerWithPostfix_int" TypeId="-3">
          <Name>Integer with postfix</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="78" Alias="double_doubleWithPrefix" TypeId="-5">
          <Name>Double with prefix</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="79" Alias="doubleWithPostfix_double" TypeId="-5">
          <Name>Double with postfix</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="80" Alias="bool_booleanWithPrefix" TypeId="-4">
          <Name>Boolean with prefix</Name>
          <Description>value = "1"</Description>
        </PropertyTypeItem>
        <PropertyTypeItem Id="81" Alias="booleanWithPostfix_bool" TypeId="-4">
          <Name>Boolean with postfix</Name>
          <Description>Value = "True"</Description>
        </PropertyTypeItem>
        <PropertyTypeItem Id="82" Alias="booleantrue" TypeId="-49">
          <Name>Boolean (true)</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="84" Alias="datetime_dateTimeWithPrefix" TypeId="-6">
          <Name>Date Time with prefix</Name>
          <Description>5-12-2013 (MM-dd-yyyy)</Description>
        </PropertyTypeItem>
        <PropertyTypeItem Id="85" Alias="dateTimeWithPostfix_datetime" TypeId="-6">
          <Name>Date time with postfix</Name>
          <Description>12/5/2013 (dd/MM/yyyy)</Description>
        </PropertyTypeItem>
        <PropertyTypeItem Id="96" Alias="urlPickerField" TypeId="1382">
          <Name>Url Picker field</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="108" Alias="moviesGrid" TypeId="1420">
          <Name>Movies Grid</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="83" Alias="booleanfalse" TypeId="-49">
          <Name>Boolean (false)</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="97" Alias="multiUrlPickerField" TypeId="1383">
          <Name>Multi Url Picker field</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="98" Alias="multipleDatesField" TypeId="1069">
          <Name>Multiple Dates field</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="100" Alias="cinemaFeatures" TypeId="1385">
          <Name>CheckboxLisst field</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="86" Alias="contentPicker" TypeId="1034">
          <Name>Content Picker</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="87" Alias="datePickerWithTime" TypeId="-36">
          <Name>Date Picker With Time</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="103" Alias="sQLDropdownField" TypeId="1388">
          <Name>SQL dropdown field</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="88" Alias="datePicker" TypeId="-41">
          <Name>Date Picker</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="105" Alias="sQLCheckboxListField" TypeId="1390">
          <Name>SQL Checkbox list field</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="89" Alias="dropDownColors" TypeId="1379">
          <Name>DropDown Colors</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="90" Alias="dropDownMultipleFruit" TypeId="1380">
          <Name>DropDown multiple Fruit</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="102" Alias="dropdownPublishingKeysField" TypeId="1387">
          <Name>Dropdown publishing keys field</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="91" Alias="numericField" TypeId="-51">
          <Name>Numeric field</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="92" Alias="mediaPickerField" TypeId="1035">
          <Name>Media Picker field</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="93" Alias="multiNodeTreePickerField" TypeId="1068">
          <Name>Multi Node Tree Picker field</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="101" Alias="radioButtonListField" TypeId="1386">
          <Name>Radio Button List field</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="95" Alias="richTextField" TypeId="-87">
          <Name>Rich Text field</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="28" Alias="seoPageTitle" TypeId="-88">
          <Name>SEO Page Title</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="29" Alias="seoPageDescription" TypeId="-88">
          <Name>SEO Page description</Name>
          <Description />
        </PropertyTypeItem>
        <PropertyTypeItem Id="30" Alias="seoPageKeywords" TypeId="-88">
          <Name>SEO Page keywords</Name>
          <Description />
        </PropertyTypeItem>
      </Properties>
    </DocumentTypeItem>
  </DocumentTypes>
</DocumentTypeLib>